<style>
    :host {
        overflow-x: hidden;
        background: rgba(131, 134, 138, 0.51);
        height: 45rem;
        width: 52rem;
        border-radius: 1rem;
        box-sizing: border-box;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #edit-form {
        display: flex;
        flex-direction: column;
    }
    #title-label, #note-label {
        margin: 1rem 1rem 0.5rem 1rem;
    }
    #title, #note {
        width: 25rem;
        margin: 0 1rem 0 1rem;
    }
    #title {
        height: 2rem;
        border-radius: 0.2rem;
        border: none;
        padding: 0.2rem;
        font-size: 1.1rem;
    }

    #note {
        height: 20rem;
        border-radius: 0.2rem;
        border: none;
        padding: 0.2rem;
        font-size: 1.1rem;
    }

    button{

        margin:1rem;
        width: 5rem;
        height: 2rem;
        border: none;
        border-radius: 0.2rem;
    }
</style>

<main>
    <h1>Edit screen</h1>

    <form id="edit-form">
        <label for="title" id="title-label" >Title</label>
        <input type="text" id="title" name="title" placeholder="Enter your title..." required>

        <label for="note" id="note-label">Note</label>
        <textarea id="note" name="note" placeholder="Enter your note..." required></textarea>
    </form>

    <div id="buttons">
        <button data-action="create">New Note</button>
        <button data-action="update">Update Note</button>
        <button data-action="delete">Delete Note</button>
    </div>
</main>